#pageWrapper {
	height:1000px;
	width:100%;
	border: 1px solid black;
}
#whiteSpaceBar {
	width: 100%;
	height:25px;
	background-color: #9DC462;
	color:white;
	text-transform: uppercase;
}
#logo {
	height:25px;
	width:25px;
}
#navBar {
	width:100%;
	height:10px; /*Set to 35px to add navBar buttons*/
	background-color: #D46A6A;
	display: flex;
	justify-content: flex-start;
	border: 1px solid white;
}

#navBox {
	width: 90px;
	height: 35px;
	color:white;
	outline-offset-top: 10px;
	padding-left: 10px;
	border: 1px solid white;
}

a {
	text-decoration: none;
}

#theBody {
	width:100%;
	height:940px;
	background-color: #9DC462;
	display: flex;
	justify-content: center;
}
#ToDoList{
	height:400px;
	width: 270px;
	background-color:white;
	margin-left: 10px;
	margin-right:10px;
	margin-top:10px;
	border: 1px solid red;
}

#NameBar {
	background-color: #D46A6A; 
	color:white;
	width:100%;
	height:20px;
}
#tdlAddField{
	height:20px;
	width:270px;
}
#ToDoListContent{
	height:360px;
	width:270px;
}
.tdlTask {
	width:270px;
	height:40px;
	background-color: #9DC462;
	margin-top:5px;
	color:white;
	display:flex;
	justify-content: flex-start;
}

.tdlTask p {
	display:visible;
	color:white;
}

#PokemonPopup {
	height:400px;
	width: 400px;
	background-color:white;
	margin-left: 10px;
	margin-right:10px;
	margin-top:10px;
	border: 1px solid red;
}

#pokemonImage {
	width:300px;
	height:300px;
	margin-top:5px;	
}

#radarCaption, #thePicture {
	text-align:center;
}
select {
	margin-top: 2px;
	height:20px;
}
input {
	margin-left: 4px;
}